/tascaS105/nbproject/private/
/tascaS105/build/
/tascaS0105/build/
/tascaS0105/dist/
/tascaS0106/nbproject/private/
/tascaS0106/build/
/tascaS0106/dist/
/tascaS0107_old/nbproject/private/
/tascaS0107/dist/
/tascaS108/nbproject/private/
/tascaS108/build/
/tascaS108/dist/
/Borrame/nbproject/private/
/Borrame/build/
